:root{
    --font_50: 50px;
    --font_15: 15px;
    --font_20: 20px;
    --activate_color: #931F1D;
    --disabled_color: #AA9190;
    --brown: #937B63;
    --button_color: #D5DDBC;
    --black: #000000;
  }